# Python
__pycache__/
*.pyc
venv/
.env

# Node
node_modules/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# HuggingFace cache
.cache/

# Logs
*.log

node_modules/
frontend/node_modules/
.cache/
__pycache__/